body {
  font-family: sans-serif;
  background: #CCF7FC;
}
h2 {
  margin: 5px 0;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px 60px;
  border-radius: 10px;
}
input {
  margin: 5px 10px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: white;
  border: 0;
  border-radius: 10px;
  border-bottom: 3px solid #333;
}
#submit {
  margin: 50px 250px;
  padding: 10px 30px;
  background: #FF6666;
}
#reset {
  background: red;
}
#answer {
  border: 1px dashed #ccc;
  background: #eee;

}
#submit: hover {
  background-color: #7CE0EB;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9F188;
}

li {
    background-color: #77abff;
    width: 100px;
    margin:5px 5px;
    border-radius: 25px;
    border: 2px solid #77abff;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

li a:hover {
  text-decoration: underline;
}
/*end nav bar*/